[2015-07-17 10:41] sksbrg opened #1 "Demo does not work in Firefox and Chrome due to content been served via HTTP and HTTPS"
Hi,

I'm highly interested to tryout your plugin and wanted to start by having a look at the demo first. But it seems to neither work in actual Firefox nor Chrome due to Flickr data been served via HTTP while demo itself uses HTTPS.

Firefox:

https://oribella.github.io/aurelia-sortable/#
Line 10

Chrome:

Remark: Internet Explorer 11 did allow me to view "insecure" content easily. So after a firs

[2015-07-17 10:51] stoffeastrom commented on #1
Thank for you input. I have been accessing it via `http` so didn't notice that.

http://oribella.github.io/aurelia-sortable

[2015-07-21 20:22] #1 closed

[2015-07-30 21:13] gavinaiken opened #2 "Text inputs inside sortable items don't behave correctly"
I've observed two problems with text inputs inside a `sortable-item` in a `sortable` area:

1/ You can't click on the text input to give it focus. You can tab into it, or right-click on it, but a standard click seems to be intercepted by the oribella gestures framework.

2/ You can't drag-select text within a text input to highlight some of the text in it. Instead the whole `sortable-item` starts

[2015-07-30 21:28] stoffeastrom commented on #2
You can bind a `allowDrag` function that gets the element as first parameter. Just return false if it shouldn't be allowed. However, you might need the `native event` to check `event.target`. I can add that as a parameter, thoughts?

[2015-07-30 21:34] stoffeastrom commented on #2
Added the `native event` as first parameter to the `allowDrag` function. So you should be able to do something like

[code]

[2015-07-30 21:36] gavinaiken commented on #2
Yes that sounds perfect, thanks for the very quick response. It's a great library you've built here!

[2015-07-30 21:45] stoffeastrom commented on #2
Oh, I there is an error in above code it should be `event.target.tagName`bug I guess you figure it out.

[2015-07-30 21:45] #2 closed

[2015-07-30 22:07] gavinaiken commented on #2
I'm having trouble adding the binding for the `allowDrag`. I assumed I would bind to it like the `moved` handler, e.g.:

[code]

but my allowDrag function isn't getting called. Can you give me any guidance on how to bind it properly?

[2015-07-30 22:41] gavinaiken commented on #2
Never mind, I forgot that aurelia converts to snake-case for html attributes so the syntax is this:

[code]

so now it's working, thanks!

[2015-07-30 22:48] gavinaiken commented on #2
In fact this is the required syntax it seems!

[code]

[2015-07-31 07:33] stoffeastrom commented on #2
Yes. Since I'm not calling the function with the `eventArgs` property as the first parameter it seems wrong. I will look into this. It would be nice to be able to send in view specific variables in your functions also.

Fixing that would mean that the current params would end up on the `eventArgs` object instead but I think that's a much better solution.

[2015-07-31 16:51] stoffeastrom commented on #2
I've updated so the `moved`, `allowDrag`, `allowMove` function now uses the `eventArgs` as first parameter. This enables to use view specific variables if needed.

[code]
The `eventArgs`
`moved` args.fromIx, args.toIx
`allowDrag` args.event, args.item
`allowMove` args.item

Also the default implementation for `allowDrag` is enhanced to

[code]

[2015-08-17 22:51] gavinaiken opened #3 "Drag without position swap can leave dragged item out of position"
If you start a drag on a sortable item but do not move it far enough for it to switch position with another item, then let go, the item will be left out of position. This seems to be because the item has a `style` attribute with `left` and `top` settings left applied.

e.g. see this screen shot of the flickr demo after an aborted drag:

![screen shot 2015-08-17 at 16 49 43](https://cloud.githubuse

[2015-08-17 22:52] gavinaiken commented on #3
Presume this is related to this commit: https://github.com/oribella/aurelia-sortable/commit/adef95970c0d554d06e1e99d869c8cf14465b520 - maybe adding `left` and `top` to the saved style will fix it?

https://github.com/oribella/aurelia-sortable/commit/adef95970c0d554d06e1e99d869c8cf14465b520#diff-cb96d169580ab6483aca2856d7371c5cR78

[2015-08-18 05:46] stoffeastrom commented on #3
Yes. There was another problem if I removed the style completely since you could have a style.bind on the sortable item. Your theory sounds correct will look into this

[2015-08-18 16:47] #3 closed

[2015-08-18 17:45] gavinaiken commented on #3
Thanks for the quick fix, worked for me! :)

[2015-08-18 17:57] stoffeastrom commented on #3
Np, thanks for reporting! :)

[2015-10-15 19:28] gavinaiken opened #4 "Latest aurelia release breaks aurelia-sortable"
Just opening an issue to see if you know about the latest aurelia release http://blog.durandal.io/2015/10/13/aurelia-mid-october-2015-releases-performance-and-portable-javascript/ and if you're planning an update to sortable to handle the breaking changes?

[2015-10-15 21:09] stoffeastrom commented on #4
Yes. New **Patch** release. Let me know if it's working for you.

[2015-10-15 21:30] gavinaiken commented on #4
Awesome, will test in the morning and let you know. Thanks!

[2015-10-16 08:56] gavinaiken commented on #4
Yes, works perfectly for me. Thanks!

[2015-10-16 10:18] stoffeastrom commented on #4
Great!

[2015-10-16 10:18] #4 closed

[2015-11-10 17:51] pbrickell opened #5 "No getting started guidance"
Would like to explore this. Guessed installation command (jspm install github:oribella/aurelia-sortable).

Do not know what require to use to get the sortable attribute. Can you make source for the demo available at least?

[2015-11-10 19:42] stoffeastrom commented on #5
It's available in the `demo` branch. Haven't updated that for the latest though. I'm holding off a bit until theres an Aurelia beta. My hope is to be able to use the new App documentation part and get some nice documentation

[2015-11-12 19:53] stoffeastrom commented on #5
@pbrickell i've updated the `README.md` with some getting started guidance

[2015-11-12 19:53] #5 closed

[2015-12-03 18:34] timfish opened #6 "placeholder class is not added in aurelia 1.0.0-beta.1."
Thanks for the great library!

I've been trying it out with the latest beta build and the placeholder class is not getting added to my sortable-item element. I'll see if I can get a simple example with this reproduced.

The Flickr example appears to be working fine on 0.17.0/0.18.0

[2015-12-03 18:49] stoffeastrom commented on #6
Please do. I just ran the sample and it looks like it's adding `placeholder` to the `sortable-item`. I think the sample is running the latest release but I'll check that again

[2015-12-03 19:25] timfish commented on #6
I worked it out. It wasn't immediately clear from `README.md` docs that I needed to add `${image.placeholderClass}` to the `sortable-item` class attribute. I then noticed the code example on the right hand side of the Flickr example. I'd assumed the class was added automagically.

[2015-12-03 19:25] #6 closed

[2015-12-03 19:30] stoffeastrom commented on #6
Great! I will add a note in the `README.md`

[2015-12-07 21:40] stoffeastrom commented on #6
Heads up. New version where you don't have to define the `placeholder` yourself anymore. Instead the dragging view-model item is cloned and a new `placeholderClass` binding is used

[2015-12-11 05:59] stoffeastrom opened #7 "^0.5.0 broken after upgrade to babel 6"
Babel 6 seems to generate invalid `amd` format that doesn't even load in the browser.

[2015-12-13 20:10] stoffeastrom commented on #7
Unfortunately there was to much problem using `babel 6` at the moment so I've reverted back to `babel 5`

[2015-12-13 20:10] #7 closed

[2016-01-28 14:06] gavinaiken opened #8 "Long sortable without a scrollable area"
If you use sortable without a containing scrollable `div`, dragging an item does not work if the whole page is scrolled.

To reproduce you need a long sortable list so that the whole browser window is scrollable. Scroll to the bottom of the page and try to drag a sortable item at the bottom of the list. It does not detect which item it has been dragged above because it does not offset for the scro

[2016-01-28 14:43] gavinaiken commented on #8
Changing this line:

https://github.com/oribella/aurelia-sortable/blob/master/src/sortable.js#L229

to this:

[code]

seems to mainly fix the issue for me. At least it means that the position of the draggable object is relative to the viewport and then the `document.elementFromPoint` returns the correct item. Scrolling doesn't work though, if you drag to the edge of the screen nothing happens.

I

[2016-01-28 14:58] gavinaiken commented on #8
Seems like this line:

https://github.com/oribella/aurelia-sortable/blob/master/src/sortable.js#L58

should probably be something like this to get the document body, rather than the sortable element itself:

[code]

although that isn't making the scrolling work. Testing some other things...

[2016-01-28 15:27] gavinaiken commented on #8
Looks like changes would also be needed in the auto-scroll class. Hacking around I've got it working upwards, sort of (the dragging item jumps from under the mouse when I hit the top of the screen but otherwise it works), but not when dragging down to the bottom.

[2016-01-28 18:57] stoffeastrom commented on #8
@gavinaiken you need to bind the correct `scroll` element else it will default to `sortable` element. Need to investigate

[2016-01-28 20:19] stoffeastrom commented on #8
I'm trying to reproduce this but I can't. I tried removing the `overflow: auto` from the demo but it still works as expected..

@gavinaiken Is it possible to reproduce this in a plunker?

[2016-01-28 20:37] gavinaiken commented on #8
Hmm have never made a plunker before. Just had a quick look but wasn't that obvious what I need to do, will take me a little while to figure it out I think, so I will work on it in the morning. I think in your demo page you have the `.page-host` set to absolute positioning and set to the same size as the viewport. If you set your scroll element to the document body you should be able to reproduce

[2016-01-28 20:41] stoffeastrom commented on #8
I will try that and see. So how are you binding `scroll`? to the document.body just `scroll.bind: 'body'`?

[2016-01-28 20:45] gavinaiken commented on #8
Tried a couple of things, I set a class on my body and bound to that eg `scroll.bind: '.body'`, but I also changed the code as mentioned above, so that it defaults to the page body if you don't specify what to bind to.

https://github.com/oribella/aurelia-sortable/blob/master/src/sortable.js#L58

Before:

[code]

after:

[code]

[2016-01-28 20:57] gavinaiken commented on #8
Can reproduce it by turning off `position: absolute` on your demo page (not exactly identical to my situation but the result looks identical - can still resort the items at the top of the list, but when you scroll to the bottom you can't):

![untitled](https://cloud.githubusercontent.com/assets/932263/12658549/99d98076-c601-11e5-86b4-ef74993d92e5.gif)

[2016-01-28 21:00] stoffeastrom commented on #8
Ok, I've reproduced it also. Will do some investigation!

[2016-01-28 21:10] stoffeastrom commented on #8
Hmm, but i'm not sure that is valid since we need to set the correct `scroll`

[2016-01-29 06:00] stoffeastrom commented on #8
@gavinaiken The root cause seems to be that the scroll element doesn't have a correct height. This is needed else the plugin can't calculated the correct bounding rect which is needed to auto scroll and set x, y before trying to get the `elementFromPoint`.

Make sure to set the correct css for the `body`. Go into the console and log out `document.body.getBoundingClientRect()` that rect needs to re

[2016-01-29 11:41] gavinaiken commented on #8
Using an absolute-positioned, 100% height/width wrapper div with `overflow: auto` seems to be a reasonable work-around, I've got that working now without needing any major changes to my html/css structure. It would be nice if the library automatically handled the case where the whole page is scrollable but having played around with some things myself that seems like it would require quite a few ch

[2016-01-29 12:50] stoffeastrom commented on #8
That sounds reasonable! If it's possible to handle this case in a simple way we can add it but it needs some more thinking :).

PR welcome for the readme

[2016-01-29 13:14] stoffeastrom commented on #8
Did you check if the `body` height is correct? Good to know if that's actually the problem. You should be able to make it work by setting something like

[code]

[2016-02-01 10:03] gavinaiken commented on #8
Tested that this morning, doesn't help. The main problem when not using a div which is set to be the same size as the view port seems to be that the `x, y` that you're getting from `getPoint` in `Sortable#update` is relative to the scroll container, not the viewport. If the scroll container is a normal relative-positioned div with content that is longer than the viewport, and the page is scrolled

[2016-02-01 15:12] stoffeastrom commented on #8
Need to investigate some more. Never stumbled on that kind of use case. But I think I undestand it better now. https://developer.mozilla.org/en-US/docs/Web/API/Document/elementFromPoint this actually says *viewport* so your theory might be right :).

[2016-02-01 15:24] stoffeastrom commented on #8
@gavinaiken to make sure I understand it correctly and have a valid test case would it be possible to for you to add repo where this is setup for me?

[2016-02-01 16:20] gavinaiken commented on #8
Yep should be possible, leave it with me!

[2016-02-01 18:23] gavinaiken commented on #8
Do you have a repo for your flickr demo I could fork? Looks like the `gh-pages` branch only has the compiled, bundled version, if you have a raw unbundled version I could set up a demo easily.

[2016-02-01 18:26] stoffeastrom commented on #8
it's under the demo branch

[2016-02-01 18:30] stoffeastrom commented on #8
I pushed the latest so it should be usable. Haven't updated to the latest Aurelia that is coming right now but will look into it later

[2016-02-01 19:32] gavinaiken commented on #8
Here you go, this pretty accurately matches how my app was set up:

https://github.com/oribella/aurelia-sortable/compare/demo...gavinaiken:ga/broken-demo

All you need to do to see the issue is to go to the Flickr demo page, make sure your browser window is short enough to give you vertical scrollbars, then scroll to the bottom and try to drag a widget. Items at the top are fine, or if your window

[2016-02-01 20:02] stoffeastrom commented on #8
Thanks, I will take a look

[2016-02-02 11:33] Souldrinker opened #10 "Aurelia-bundler breaks sortable"
When I try out my code I mainly run unbundled and has successfully been using aurelia-sortable. But now when we put out a bundled version of our app in a QA environment we got reports that sorting didn't work and after some investigation it seems like the sortable attribute gets stripped when bundling.

That is if I for example have this code ```<div sortable="items.bind: sortedFavorites" class="m

[2016-02-02 14:36] stoffeastrom commented on #10
The bundler is using `html-minifier` and a bunch of options more
specifically

`collapseBooleanAttributes` is set to true

which after finding this [issue](
https://github.com/kangax/html-minifier/issues/63)

turns out that `sortable` is consider and stripped?

On Tue, Feb 2, 2016 at 12:33 PM, Tony Olsson <notifications@github.com>
wrote:

--

Telefon arbete : +46 (0) 10 209 77 96

Telefon mobil

[2016-02-02 15:10] Souldrinker commented on #10
Ah, perfect, that was the issue. At first I was afraid I had to turn off the minify completely in my bundle which increased the file size from 168kb to 278kb for my app (excluding external libs), but then I saw I could do like this in my bundle config:
[code]
...which made the file size stay the same but didn't collapse the sortable attribute :-)

[2016-02-02 20:53] stoffeastrom commented on #8
@gavinaiken I thought that the `body` was scrolling but according to above it's not. It can be the `window`/`document` that is the scrolling element?

So we have a couple of issues here caused by this

1. We don't detect auto scroll since we don't consider the bounds for `window`

2. For this use case it can't find the sortable items since it uses the `pageX`, `pageY` as you said

3. The scrolling

[2016-02-02 20:58] stoffeastrom commented on #10
I think we should rename the attribute. Adding a prefix for example
`oa-sortable` or similar...

Thoughts?

[2016-02-03 07:35] Souldrinker commented on #10
Yes, I was going to suggest changing the attribute name before I found the option to disable the collapsing, but still it might be a good idea to avoid confusion and having to add special configurations to the bundling. So at least for me I'm all for a name change.

[2016-02-03 09:10] gavinaiken commented on #10
seems to make sense in order to avoid obscure problems!

[2016-02-03 09:16] gavinaiken commented on #8
Yes, I can see it would mean a lot more code to detect this different case and handle it correctly. For me, it's fine to use the work-around of the `absolute` positioned container. Thanks for looking into it!

[2016-02-03 20:13] #8 closed

[2016-02-08 10:18] robertogonzalezdelarosa opened #11 "error after installation"
HI i got this error after installation

Unhandled promise rejection Error: Error invoking SVGAnalyzer.

I just installed the plugin and set it in main.js as described in the docs.

[2016-02-08 15:06] stoffeastrom commented on #11
Can you run Aurelia without the plugin? This error message seems to come from Aurelia? Are you using the `skeleton-navigation`? With what version of `jspm` did you install Aurelia and then this plugin with?

[2016-02-08 15:13] stoffeastrom commented on #11
I updated the `README.md` since it's now possible to install it through `npm` also notice how to register it in `main.js`. This needs to map how you've install the plugin, so make sure to check your `config.js`

[2016-02-08 18:22] robertogonzalezdelarosa commented on #11
Correct I can run aurelia without the plugin. Im using "jspm": "^0.16.11" version.

[2016-02-09 05:58] stoffeastrom commented on #11
Can you reproduce this in a [plnkr](http://bit.ly/aurelia-plunker) or similar else it's a bit hard to know what is going on.

Which version of the plugin did you install? I wonder if you got the `master` since you did install it through `jspm:github...`

[2016-02-09 20:57] robertogonzalezdelarosa commented on #11
I got the lastest version.
But I will update aurelia framwork to latest version also maybe is what i need

[2016-02-09 22:33] robertogonzalezdelarosa commented on #11
problem solved. An aurelia framework updated  was requiered thanks.

[2016-02-09 22:33] #11 closed

[2016-02-09 22:43] robertogonzalezdelarosa commented on #11
it works like a charm!. thank you very much for this plugin!!!.

[2016-02-10 18:07] stoffeastrom commented on #11
:+1:

[2016-02-17 08:42] minro opened #12 "Displacement of tiles below the fold"
Given a refresh of the page/div/area with sortable items, and the page/div/area is not tall enough to house all items in view, scrolling down below "the fold" and trying to move the items from there, items will be displaced while moving as well as when dropped.

Tested this with version ^0.5.3 and 0.4.0.

I've created this repro based on Aurelia-typescript-skeleton

Here's a screen grab: trying to

[2016-02-17 09:20] minro commented on #12
However this does not seem to be a problem in your demo:
http://oribella.github.io/aurelia-sortable/

I wonder why this is happening in mine

[2016-02-17 09:45] gavinaiken commented on #12
I think this sounds like the same issue I had, see https://github.com/oribella/aurelia-sortable/issues/8

The solution for me was to set an element of the DOM to be the scroll container for the page, and ensure that container was absolute positioned and 100% width/height. Here's the CSS I used for that element:

[code]

and then in the sortable item I configured it to use that div as the scroll it

[2016-02-17 10:08] minro commented on #12
This works well in my repro, I lost the "ghost image" that I'm moving, but it still moves correctly.
It doesn't work in my actual project dom structure but that may be the result of something else. Will investigate. Thanks for helping Gavin.

[2016-02-17 17:46] stoffeastrom commented on #12
Yes, that sounds like you haven't configured the correct scroll element.. Have you tried adding overflow-x: auto; on the container class?

Sent from my iPhone

[2016-02-18 08:01] minro commented on #12
It may be that I'm doing something wrong that I'm failing to spot, but this is my simple layout and styling example, this renders a displacement of the ghost when grabbing a tile/item/card from beneath the visible view. I have also tried setting the .page-host styling "hack" that @gavinaiken mentions in #8 .

This layout is also close to identical to the layout in your demo example. One thing I ha

[2016-02-18 11:46] stoffeastrom commented on #12
The only thing I see just looking at the code you pasted is that you have
to make sure that the scroll container has the correct height

height: 100%;width: 100%;

in your case it should be the height of the viewport e.g browser and not
the whole scrollable content if that make sense

On Thu, Feb 18, 2016 at 9:01 AM, Martin <notifications@github.com> wrote:

[2016-02-18 12:55] minro commented on #12
Interesting;
without the height + width 100% I can move the tiles around and they will be placed where my mouse is but with the ghost displaced.

With the height + width 100% the ghost is correctly placed but the actual tile will be placed in the wrong position, of an approximate equal distance lower than target, that I have scrolled.

[2016-02-18 15:11] stoffeastrom commented on #12
I have to look at the repro to get some more insight.. Don't know when l'll have time though so report back IF you make any progress

Sent from my iPhone

[2016-02-18 20:01] stoffeastrom commented on #12
So I look a bit at the repro and the problem is that you are using `margin` which won't work with the `getBoundingClientRect`. The plugin is using the `getBoundingClientRect` to be able to calculate where to position the drag element and it's also used for other use cases.

[2016-02-18 20:10] stoffeastrom commented on #12
Also the `page-host` `getBoundingClientRect` is wrong since it has to contain the `sortable`. Setting a height on `html, body` solves that

[2016-02-18 21:35] minro commented on #12
Thank you very much for taking time looking into it, I'll have a look again tomorrow

[2016-02-19 09:48] minro commented on #12
So I ran this again updating the layout to match yours even closer. All your suggestions works as long as the sortable area was in the bottom of the page.

As far as I can tell this sortable library only works as intended if the area that is sortable is the last area on the page,.. and maybe this is what you are talking about in #8 and a fix for this would mean too much code.

But in present state

[2016-02-19 13:17] stoffeastrom commented on #12
That sounds weird but perhaps it's a problem if you have a non SPA app since this seems to happen only for layouts where you have a scroll on the "page". If you have setup your scroll container correctly it shouldnt be a problem

Sent from my iPhone

[2016-02-19 13:41] minro commented on #12
I don't really want a scroll container, I want your demo example but with content beneath your scrollable area.

If you wanted a footer inside your demo example `<body>`  after `<.page-host>` how would you do that?

For me the absolute position makes this difficult.

[2016-02-19 13:45] stoffeastrom commented on #12
Not sure but about that. I'll have to look into it. Don't know how difficult it would be to support that yet

[2016-02-19 13:55] stoffeastrom commented on #12
In that case you need 2 scrolls if I understand you correctly so both on the `.page-host` and for the browser? This kind of scenario is not supported.

[2016-02-19 14:01] minro commented on #12
Actually what I want is this

header
some stuff
main-sortable <- this area can be dynamic in height depending on amount of items but without scroll.
other stuff
footer

No-fixed header and footer, aka whole page scrolls.

If this is unsupported I totally get it. But would have been a nice feature since that's a common layout scenario.
Will this remain unsupported or is this something that will get

[2016-02-19 14:07] stoffeastrom commented on #12
Ok, that sounds like #8 and I'm not sure since it would mean a lot of changes. If we could figure out a good solution for it we could add it. PR's welcome.. This needs some more thinking

[2016-02-19 14:11] minro commented on #12
I really like the library so I might look into it but until now I haven't really peeked behind the curtains of your code so it might take some time.
Thanks for your patience and quick responses.

[2016-02-19 14:12] gavinaiken commented on #12
@minro your scenario sounds a lot like how my page was laid out. I looked into making changes to aurelia-sortable to support that kind of scenario and got probably about half way there but then decided to go with the work-around of the absolute-positioned 100% height/width scrollable area instead. Can give you some clues as to what I tried if it that helps at all.

[2016-02-19 14:14] minro commented on #12
Yes you are welcome with any tips but I'm pretty sure positioning something absolutely is a good way to start off bad, in my layout example anyway.

[2016-02-20 12:33] stoffeastrom commented on #12
I changed my demo so the whole page scrolls to get some more understanding what to change

- [ ] Need to expose `clientPoints` from the *Oribella* framework to easily support `document.elementFromPoint`

- [ ] Need to separate scrolling element and scroll listener to support hooking up the scroll listener on `document` and use `document.scrollingElement` as the element

- [ ] Special handling for

[2016-02-29 20:18] stoffeastrom commented on #12
I have a [branch](https://github.com/oribella/aurelia-sortable/tree/feat/document-scroll) experimenting with above. Where I'm also moved in a new demo folder where I plan to put `features` to show off. This enables easier development of the plugin. Basically you will do `npm run dev` and you will be able to run the demo.

[2016-03-03 10:25] bellstrand opened #13 "Missing polyfills after latest aurelia update"
After Aurelia removed its dependency on core-js we're missing some polyfills.

"Uncaught TypeError: Object.getOwnPropertyDescriptors is not a function"

[2016-03-03 11:08] stoffeastrom commented on #13
I guess it's coming from the [oribella-framework](https://github.com/oribella/framework/blob/master/src/registry.js#L37-L43)?

[2016-03-03 11:15] stoffeastrom commented on #13
That should not have been used. Need to rewrite it using
`Object.getOwnPropertyDescriptor`

[2016-03-03 15:33] bellstrand commented on #13
Yeah, oribella-framework. registry.js

[2016-03-03 16:10] stoffeastrom commented on #13
Released a new patch version `oribella-framework@0.4.1`. Update and let me know that it works

[2016-03-03 18:54] stoffeastrom commented on #13
Oh seems like I have to update `aurelia-sortable` to latest `oribella-default-gestures`.

[2016-03-03 20:08] stoffeastrom commented on #13
Should be fixed in `0.6.0`

[2016-03-04 09:31] bellstrand commented on #13
I think you forgot to update oribella-framework@0.4.1's dist, I can see that you have changed the source code but when downloaded with jspm I get the old dist. I can also see that the latest version of oribella-swipe is throwing errors, looks like the dist there still includes es6 code that's not transpiled.

[2016-03-04 11:28] stoffeastrom commented on #13
Thanks for reporting. Will look into it

[2016-03-04 11:43] stoffeastrom commented on #13
Yes I can see that the `dist` is not updated for `oribella-framework`. However regarding the `oribella-swipe`I can't see that the `dist` is wrong. Will get a patch out later tonight

[2016-03-04 11:46] stoffeastrom commented on #13
Hmm.. now I see it.. weird it looked like amd but it has `class` defined

[2016-03-04 13:41] bellstrand commented on #13
Yeah, it caused some trouble :P, anyhow was looking abit at your libraries (oribella-framework, and oribella-swipe) and tried to build them myself, but was unable to run your "build, test, etc" commands specified in package.json. What are you using for these commands work?

I've tried to do this => "npm install; npm run build;". Do I need so install something that ain't specified in package.json t

[2016-03-04 13:44] stoffeastrom commented on #13
Tried building on my work laptop with windows and I realized I haven't enabled that scenario ;). Will fix that so it's easier.

PR's welcome.

We have to update the `oribella-dev` commands to add `.cmd` on windows something like

[code]

[2016-03-04 13:46] stoffeastrom commented on #13
So if you clone the `dev` repo and add that and run `npm run build`

go into `swipe`
`npm link ../dev`
`npm run build`

[2016-03-04 14:37] stoffeastrom commented on #13
Released new patch versions for `oribella-framework`, `oribella-swipe`.

[2016-03-04 15:09] bellstrand commented on #13
Works great now!

[2016-03-04 15:10] stoffeastrom commented on #13
Nice! Sorry about missing updating the `dist`! I will try to get things up and running on windows and how it should be used.

[2016-03-04 15:10] #13 closed

[2016-03-08 21:02] #12 closed

[2016-03-09 19:42] #10 closed

[2016-03-12 13:16] timfish opened #14 "Sorting issues on dynamic layout"
I've got a responsive layout using [material design lite](https://www.getmdl.io/). When I resize the window I can get into a state where I can't drag items in to the far ends of the draggable area.

I've set `scroll.bind: '.mdl-layout__content'` but I've noticed that when the left drawer menu is displayed it adds a large margin to `.mdl-layout__content` to leave space for the drawer. When the view

[2016-03-12 14:35] timfish commented on #14
I sent you a PM on Gitter with a video showing the issue I'm having.

[2016-03-13 06:21] stoffeastrom commented on #14
So, this is a problem how the layout is built. The mdl is defining `margin-left` for the drawer which makes the `getBoundingClientRect` to not report "correct". Also the use of `flexbox` needs to be rewritten so it actually gets the layout that it looks like it has. What I mean is that it looks "right" but when you look into the layout and do `getBoundingClientRect`it will report differently than

[2016-03-13 12:16] timfish commented on #14
Thank you for looking into this for me.

I've been looking into other drag-drop implementations which don't appear to exhibit this behaviour with this layout, namely [dragula](https://github.com/bevacqua/dragula/). It [also uses](https://github.com/bevacqua/dragula/blob/697f228a02d79331a55518b5925c165200a26726/dragula.js#L419) `getBoundingClientRect`. It looks like it [still uses](https://github.c

[2016-03-13 18:08] stoffeastrom commented on #14
So you are saying that they use getboundingclientrect but it works?

Sent from my iPhone

[2016-03-13 19:33] stoffeastrom commented on #14
I just briefly look into the code you linked. They are using a completely different strategy for the dragging element. It's being cloned and added `o.mirrorContainer` which seems to be `body` by default. While the strategy in `aurelia-sortable` is to absolute position the dragging element and add a placeholder. It's a simple approach utilising Aurelia binding functionality. So that's the reason th

[2016-03-13 20:13] stoffeastrom commented on #14
So if this should be supported the `drag` needs to be cloned and added to the `viewport` e.g `document.body`. The `dragBoundingRect` should always be the `getBoundingClientRect` of the `oa-sortable`
I will look into it some more...

[2016-03-14 12:18] timfish commented on #14
dragula doesn't currently support [auto scrolling](https://github.com/bevacqua/dragula/issues/327) but mouse and keyboard scroll still work. There can apparently be issues with aurelia as it modifies the DOM. The recommended approach with aurelia+dragula is to cancel the drop and modify the underlying bound list manually and let aurelia adjust the DOM.

[2016-03-14 18:37] stoffeastrom commented on #14
@timfish I've looked into this a bit more. Thanks for the demo project which helped a lot. I think this could be doable. I've changed so the drag clones the item and adds it to the `document.body`. I have to fix the scrolling part thought which will not work ootb. Also the `dragBoundingRect` needs to be updated.

So the `placeholder` logic will be removed and the `drag` adds it's clone to the `doc

[2016-03-17 19:18] stoffeastrom commented on #14
@timfish try out the latest on master. It should support your use case now. Actually the best experience right now is to have `document` scroll which also correctly handles `drag` boundaries. For scenarios where the scroll is not on the `viewport` but as a parent or direct on the `oa-sortable` the `drag` boundaries are not perfect yet since we are now adding the `drag` into the `viewport` we need

[2016-03-24 21:05] stoffeastrom commented on #14
@timfish any updates regarding this?

[2016-03-24 22:13] timfish commented on #14
@stoffeastrom sorry I missed this. I'll give it a try tomorrow...

[2016-03-25 21:38] timfish commented on #14
Thanks for attempting to fix this. I did have to manually install `aurelia-event-aggregator` as I was getting an error that it couldn't be found. After that, I'm getting an exception in `drag.pin` because `this.item` is null. Not had a chance to look any further than that, but will take another look tomorrow.

![image](https://cloud.githubusercontent.com/assets/1150298/14054423/072312a4-f2d1-11e5-

[2016-03-25 21:56] stoffeastrom commented on #14
Hm weird. That should be the `item` bound in `oa-sortable-item`

[2016-03-26 21:00] stoffeastrom commented on #14
@timfish I added a material design lite [demo](http://oribella.github.io/aurelia-sortable/#/mdl) for you!

[2016-03-26 21:08] timfish commented on #14
That appears to be working very well. At least I now know its something I'm doing wrong my end! Shall I close this bug or do you want to do it when you push the changes in a release?

[2016-03-27 05:23] stoffeastrom commented on #14
I can close it in a new release!

[2016-04-01 19:43] #14 closed

[2016-08-29 20:31] jaysson opened #16 "Unhandled rejection Error: Script error for "oribella-aurelia-sortable/sortable""
<img width="1433" alt="screen shot 2016-08-30 at 1 59 20 am" src="https://cloud.githubusercontent.com/assets/1563862/18066309/74b1347c-6e55-11e6-846a-aa4ba707cb62.png">

I am using Aurelia CLI.

**aurelia.json**

[code]

**main.ts**

[code]

[2016-08-30 04:31] stoffeastrom commented on #16
Haven't tried the latest but I think we need to add "build resources"

[code]
something like that in the `package.json`

[2016-08-30 06:22] stoffeastrom commented on #16
Should be enough with

[code]
Can you test that above works? @jaysson

[2016-08-30 12:05] itfourp opened #17 "Building the repository"
Hey there,
I've checked out this project, modified the sources and now I'd like to build. I've tried `npm install` and got the error message `npm ERR! peerinvalid Peer babel-eslint@5.0.4 wants eslint@<2.3.0`. Did I do something wrong? How do I build this project?
Please be patient with me, I'm quite inexperienced with building-environments.

[2016-08-30 13:09] stoffeastrom commented on #17
What node version and npm version are you using?
[code]
I get

[code]
but it's only a warning

[2016-08-30 13:16] stoffeastrom commented on #17
For developing just run

[code]
which fires up a webpack dev server and go to `localhost:9000` which serves the demo code and the local sortable plugin code

[2016-08-30 14:11] itfourp commented on #17
@stoffeastrom
I got this:
[code]
I tried `npm run dev` and got
[code]

I'm just resetting my repository to get all messages on `npm install`. Maybe that'll provide further help.

[2016-08-30 14:38] itfourp commented on #17
Ok, my bad. Sorry for bothering you! I've updated node and npm. Building works fine now. Thank you for your support!!

[2016-08-30 14:38] #17 closed

[2016-08-30 14:47] stoffeastrom commented on #17
I think you have to upgrade to at least node 4

Sent from my iPhone

[2016-08-30 15:02] stoffeastrom commented on #17
No problem! Glad it worked out.

[2016-09-15 08:37] jaysson commented on #16
That didn't work.

I added following code to package.json. It didn't work, so added it to aurelia.json again. That did not work either. Is there a demo project with Aurelia CLI?

[code]

[2016-09-15 09:15] stoffeastrom commented on #16
Havent't used the Aurelia CLI (still in alpha) so I'm not sure what your problem is. Somehow you need to add the plugin to the generated bundle. Have you tried following the [readme](https://github.com/aurelia/cli#a-commonjs-package)?

[2016-09-15 10:01] jaysson commented on #16
I did try that. But that throws error while building.

<img width="1346" alt="screen shot 2016-09-15 at 3 28 28 pm" src="https://cloud.githubusercontent.com/assets/1563862/18546016/5a09c614-7b59-11e6-93bc-0538968afb4a.png">

[2016-09-15 11:18] stoffeastrom commented on #16
Aha, Since this plugin is dependent on [`default-gestures`](https://github.com/oribella/default-gestures) which has these deps

[code]
So I guess you have to add all those to get it working :/ since they don't have the `aurelia` property in their `package.json`.

[2016-10-20 14:28] AmazingDesign opened #18 "Problem with method moved toIx property"
Hi!

We are developing our first app in Aurelia and we encountered a problem with toIx property when we try to call moved method. It was always -1. fromIx always had proper value.

We fount that method move sorting item doesn't pass the toIx argument to class parameter.
[code]
After adding one line at the end, seems to be working fine.
[code]

This is a good solution? As I said it is our first app

[2016-10-20 16:54] stoffeastrom commented on #18
Hi @AmazingDesign,

I'm not sure I understand why you are calling the `moved` method yourself? Can you elaborate on how you are using the plugin?

[2016-10-21 08:56] AmazingDesign commented on #18
We said it wrong. Ofc we didn't call this method ourselves. It is called when drag of an sortable list object  ends. And it always returns toIx = -1. After change mentioned above it returns proper value.

[code]

[2016-10-21 09:26] stoffeastrom commented on #18
That sounds reasonable. Would you be able to create PR?

[2016-10-23 08:14] #18 closed

[2016-11-11 04:46] PWKad opened #22 "Copy DOM element with styling"
After testing the two versions of `aurelia-sortable` one thing that is very nice about the other is that the DOM element itself is copied and all of the styles look the same in mid-flight, it would be nice if the two of you could collaborate some how to get that functionality in this lib as well.

[2016-11-11 07:57] stoffeastrom commented on #22
@PWKad I'm not sure I understand what you  mean :)? Which two versions?

[2016-11-11 07:58] stoffeastrom commented on #22
Aha you mean there is another `aurelia-sortable`

[2016-11-11 08:10] stoffeastrom commented on #22
I'm cloning the drag element and putting it into the body

[code]
So what you are saying is that the styles are changing?
Is it easy to repro?

[2016-11-11 13:35] PWKad commented on #22
You are cloning it at the bottom of the body I believe the other version kind of does it in place so the nested styles still apply I didn't dig in to it too much though was just comparing

[2016-11-11 13:51] stoffeastrom commented on #22
Ok, Yeah one of the earlier versions the cloned element was added in place however then it wasn't possible to support document scrolling which is used in for example material design lite layouts.

[2016-11-11 13:54] stoffeastrom commented on #22
I guess it's possible to add some kind of `cloneStrategy` to support both but it's not something I've looked into.

[2016-11-16 01:08] PWKad opened #23 "FR: Support the group property from sortable"
The group property allows the developer to drop to a separate list.  This could be used in conjunction with the `oa-sortable` possibly.

[2016-11-16 09:12] stoffeastrom commented on #23
@PWKad I might have had to little ☕️ this morning but I'm not sure I understand what you  mean by the `group` property. However I understand that it would be nice to handle moves between multiple sortables. In the past I had requirements also that it should be possible to visually "disable" other lists that you shouldn't be able to move to. This could be handle by setting a `typeFlag` on the `oa-s

[2016-11-16 18:40] PWKad commented on #23
In the sortable.js docs search for group, it is like you mentioned a way of letting the plugin know you can carry between lists and you can define behaviors for how the interaction occurs, such as moving,  cloning,  etc..

[2016-11-21 20:45] AStoker commented on #16
I think this is related to how the CLI traces it's dependencies. The package json file is pointing to the main file here (https://github.com/oribella/aurelia-sortable/blob/master/dist/commonjs/index.js#L8). But it just says to configure the global resources to use `./sortable.js`. Since it doesn't actually _import_ the sortable library, the aurelia tracer doesn't know to bring in `./sortable.js`,

[2016-11-21 21:00] stoffeastrom commented on #16
@AStoker that makes sense. How should that be handled?

[2016-11-21 21:24] AStoker commented on #16
Well, you already have listed as a dependency in the json file what you need.
What I think you need is to import your dependencies, or somehow let them be found and imported. I'm a bit loaded up at the moment, but I can try and take a peek at it in a day or two.

[2016-11-26 05:53] PWKad commented on #23
I did not realize this plugin was not augmenting the sortable plugin from ruxaba

[2016-11-26 05:53] #23 closed

[2016-11-26 23:23] jayrod718 commented on #16
I was able to get the build errors to clear up and the page to load cleanly but the sortable tags dont seem to be doing anything. I am using OL/LI and not DIVs, tried switching to divs and it doesnt seem to do anything at all. Here is the package.json that cleared up my build errors, I am using the Aurelia CLI.

`          {
            "name": "oribella-aurelia-sortable",
            "path": "../

[2016-11-27 10:12] stoffeastrom commented on #16
@jayrod718 shouldn't matter which tags you use! Do you have any sample that reproduces your problem?

Also, is there something that needs to be done so you don't have to add all the dependency manually like you did above?

[2016-12-06 16:36] AStoker opened #24 "[Question] Sortable not working on table rows"
I have a table who's rows are being constructed like this:
[code]

I followed the instructions in the readme to get the sortable plugin configured, but I'm unable to sort the items (there doesn't appear to be any interaction working, as if the plugin isn't even hooked up).
Am I missing something very elementary here?

[2016-12-06 17:36] stoffeastrom commented on #24
Could it be [this](https://github.com/oribella/aurelia-sortable#default-disalloweddragtagnamesinput-select-textarea---element-tags-that-disallows-start-dragging)? That's the only thing I can think of spontaneously...

[2016-12-06 17:37] stoffeastrom commented on #24
So the default `allowDrag` wont allow it? You could test it by binding a `allowDrag` function that returns true

[2016-12-06 18:45] AStoker commented on #24
I was going off of the docs to try and get a minimal dragging setup. So literally all I did was bring in the library, add it as a plugin in the `main.js`, and then add those bindings to the table rows I showed above.
I've set things up similar to what was done here (https://github.com/oribella/aurelia-sortable/issues/16#issuecomment-263092048)... Could be related.

[2016-12-06 18:50] stoffeastrom commented on #24
Yes but if you are trying to move it from for example input it will not be allowed since you would want to enter something there.. according to the `allowDrag` default binding...

Did you try to change it?

[2016-12-06 18:52] AStoker commented on #24
I added a function
[code]
[code]
But no joy. Is that what you were saying?

[2016-12-06 18:56] stoffeastrom commented on #24
`allow-drag.bind: allowDrag`?

[2016-12-06 19:04] AStoker commented on #24
Negatory ghost rider. Didn't work. I'm pressed to believe that it's not even hooking up correctly... I'll have to make a skeleton project and try and reproduce the error, then I can show you it (can't share too much production code right now).

[2016-12-06 19:06] stoffeastrom commented on #24
I understand no problem. Hopefully it shouldn't be any problem but as you say it's easier to have a repro.

I'm wanting to have a fast possibility to gist but haven't had the time to look into it

[2016-12-06 19:10] stoffeastrom commented on #24
I just thought of another thing. Make sure you don't 'kill' the event somewhere.. since the event listeners are on the `document`.

[2016-12-06 19:13] AStoker commented on #24
There's no immediate function that should be killing the event... But it's possible there's one farther up the tree...

[2016-12-12 08:12] klaa12924 opened #25 "[Question] Using this plugin with an aurelia cli project"
Hi, I am having some trouble trying to use this plugin with an aurelia cli project. I guess I am doing something wrong but I am not really sure what.

I installed the plugin with npm install oribella-aurelia-sortable
Add the following to aurelia.json in my project:
`{
    "name": "oribella-aurelia-sortable",
    "path": "../node_modules/oribella-aurelia-sortable/dist/amd",
    "main": "index"
}`

[2016-12-12 09:13] stoffeastrom commented on #25
I haven't used it myself. There is another [issue](https://github.com/oribella/aurelia-sortable/issues/16#issuecomment-263092048) that might help you. It would be nice to support this so please report back with your findings..

[2016-12-12 10:35] klaa12924 commented on #16
I'm having the same issue as @jayrod718 and tried his solution as well but it's not working for me unfortunatly.
A demo aurelia cli project with the plugin would be much appreciated.

[2016-12-12 10:38] klaa12924 commented on #25
@stoffeastrom Thanks for the quick response, I tried some things listed in the issue you mentioned, but could not get it to work either. Still new too all of this.

[2016-12-21 15:22] klaa12924 commented on #16
I have managed to get it working with aurelia cli project:
place the following in your aurelia.json
[code]

[2016-12-21 18:30] stoffeastrom commented on #16
@klaa12924 👍

[2016-12-27 13:28] klaa12924 opened #26 "[Question] Is it possible to use this plugin with nested oa-sortable 's?"
Hi,

I am trying to use this plugin with nested oa-sortable's, is that possible?

first: oa-sortable: model.templateGroups
repeat for: group of model.templateGroups
second: oa-sortable: group
repeat for: field of group.templateFields

[code]
I can drag and drop the "group" oa-sortable, but when I try to drag and drop the "field" within a group I get an error.
[code]
Am I doing something wrong, or

[2016-12-27 14:05] klaa12924 commented on #25
This one can be closest, the solution is mentioned in #16

[2016-12-27 17:25] #25 closed

[2016-12-27 17:29] stoffeastrom commented on #26
I don't think that's possible right now. What's your use case? Is it similar to what I'm describing [here](https://github.com/oribella/aurelia-sortable/issues/23#issuecomment-260893025)?

[2016-12-27 17:32] stoffeastrom commented on #26
It could be possible depending on how you are handling the for example `allowMove`. I realise we need a way to easy setup and reproduce this kind of stuff!

[2017-01-09 07:51] fracz opened #27 "Create a runnable sample gist with this plugin"
Creating a runnable example with any aurelia plugin without preconfigured `config.js` is really painful. If there was a sample runnable gist with the aurelia-sortable provided it would be simpler to create bug examples for issues.

See how for example [aurelia materialize does it](https://gist.run/?id=e8eed34e8bba17f5213535bcdd004a9e).

[2017-01-09 07:52] fracz commented on #24
I can confirm the plugin does not work with `tbody>tr` structure. However, I was [unable to create gist with the example](https://github.com/oribella/aurelia-sortable/issues/27).

[2017-01-09 08:28] stoffeastrom commented on #24
@fracz are you seeing the same behaviour as here? Any errors?

I agree we need to get a gist working

[2017-01-09 08:29] fracz opened #28 "Invalid position of dragged item"
In my app I have an issue that I cannot reproduce on your demo. The position of the dragged element in the sortable is ok only if the window is not scrolled. The farest I scroll the window, the worse the position of the element being dragged is (it is positioned above the mouse pointer). See the animation:

![animation](https://cloud.githubusercontent.com/assets/3918865/21760599/9aa6017a-d64d-11e6

[2017-01-09 08:32] stoffeastrom commented on #28
It seems like you don't have bound the correct scrolling element? E.g it can't calculate the correct positions since it does'nt got the correct scrolling element to work with.

Does the [readme](https://github.com/oribella/aurelia-sortable#default-scrollsortable) help you?

[2017-01-09 10:01] fracz commented on #28
Adding the `scroll: document` helps, indded. I thought the `document` is the default. Thank you!

[2017-01-09 10:01] #28 closed

[2017-01-09 10:07] fracz commented on #24
The same behaviour, i.e. no interaction with the rows at all. No errors in console.

[2017-01-09 10:27] fracz opened #29 "Allow to specify drag handle"
It would be nice to be able to specify a drag handle (like in [jQuery UI](http://api.jqueryui.com/sortable/#option-handle)), so the element can be dragged only by specific child element. For example:

[code]

Currently, it can be achieved with:

[code]

[code]

[2017-01-09 10:50] stoffeastrom commented on #29
Currently it handle [tags](https://github.com/oribella/aurelia-sortable/blob/master/src/sortable.js#L24-L33) only. I guess it would be simple to add something like

`disallowedSelectorNames` that would use `matchesSelector`

thoughts?

[2017-01-09 10:52] fracz commented on #29
Yeah, I know there is a blacklist, but whitelist would be also nice (i.e. `allowedSelectorNames`).

This is not a *must-have*, just a suggestion.

[2017-01-09 13:15] fracz opened #30 "It does not work with aurelia-bundler"
When using [`aurelia-bundler`](https://github.com/aurelia/bundler), the only file that is bundled from this plugin is the `index.js`. AFAIU, this is because the `index.js` does not export all classes that the plugin use. [Related issue](https://github.com/aurelia/bundler/issues/30)

[2017-01-09 13:43] stoffeastrom commented on #27
What about [this](https://gist.run/?id=e9587b5ac30e6650edd3b9404a700882)?. The `oribella` libs are not bundled but loaded via rawgit with es6 so it's a bit slow at the moment.

Thoughts?

[2017-01-09 13:45] stoffeastrom commented on #30
See [this](https://github.com/oribella/aurelia-sortable/issues/16#issuecomment-268549081)

[2017-01-09 19:34] stoffeastrom commented on #27
Updated it to use `unpkg` so should be fine to start using some gists. I'm converting the oribella code base to typescript so might be worth to try out systemjs and typescript in the gists later on but closing this for now

[2017-01-09 19:34] #27 closed

[2017-01-09 19:46] stoffeastrom commented on #24
I've managed to create a simple gist that actually throws an error saying

[code]
Don't know if it's related but there is indeed something going on here. I'm going to finish my conversion of the oribella code base to typescript and revisit this to see if it can be fixed.

One thing that I thought of was that we might need to reintroduce the possibility to add the `dragging` item in the bound array

[2017-01-09 20:12] fracz commented on #30
Aurelia CLI != aurelia-bundler. I use aurelia-bundler with JSPM and TS.

According to [this comment](https://github.com/aurelia/bundler/issues/30#issuecomment-152883574) and a sample from [aurelia-templating](https://github.com/aurelia/templating-resources/blob/master/src/aurelia-templating-resources.js), a plugin should export all of its dependencies in the main file so bundler knows what to bund

[2017-01-09 20:31] stoffeastrom commented on #30
That doesn't seem right to me. The whole point is that it should get loaded up front. That's just a work around for the bundler. What I think you need is to define the bundler vendor packages correct. I remember having that kind of discussion let me see if I can find it...

[2017-01-09 20:35] stoffeastrom commented on #30
Oh it was en the same thread as [above](https://github.com/aurelia/bundler/issues/30#issuecomment-153382016)

[2017-01-11 13:49] stoffeastrom commented on #24
I have a [gist](https://gist.run/?id=2b0ea59ee6e51865cc9508d0cabfea11) that uses the new typescript `Oribella` code and as I suspected there was a bug in the old where the passed element was the `tbody` and not the actual `tr` element. However as I said above it's weird attaching a `tr` to the body so I think we need introduce some strategy for the drag element e.g if it should be attached to the

[2017-01-11 20:29] stoffeastrom commented on #24
The above gist actually now works in chrome at least :)

[2017-01-12 17:55] stoffeastrom commented on #26
@klaa12924 It's now possible to make a gist. Fork [this](https://gist.run/?id=52506d95d3d4a9194c30cfb1decfcbe0) and make a repro. I'm updating the oribella code base so it would be good to understand if I already solved the it or not

[2017-01-13 11:12] klaa12924 commented on #26
@stoffeastrom I will try to do this weekend when I have some time

[2017-01-16 13:11] klaa12924 commented on #26
My [Fork](https://gist.run/?id=7a20866288820fd6144fdc33e972e3d5&sha=8a92b388bfbef0706543ee9fc6aa83b6a22e3644)?

Kinda not sure if I did this the correct way, hope I didn't screw up something.

![image](https://cloud.githubusercontent.com/assets/13704848/21984271/757eba4c-dbf5-11e6-84a6-343476dd39a3.png)

Maybe this plugin isn't designed have this kind of behaviour, but it was something I needed, b

[2017-01-16 17:33] stoffeastrom commented on #26
Ok So I forked that and use the latest `oribella` code. Now it doesn't crash but it's only possible to move the group. I guess you want to either move the group or the list in the group.

[2017-01-16 17:52] klaa12924 commented on #26
Yes, that's true. The groups in should be sortable and each individual list in each group should be sortable only in the group it's originaly in.

[2017-01-20 12:24] stoffeastrom commented on #26
I have a [gist](https://gist.run/?id=e9a29428b70eb4afc9a0cc247a9dd000) where it seems to work quite good. The problem was that we didn't take care of getting the closest `oa-sortable` and make sure to remove the other `oa-sortable` when we found the closest one. So after updating `allowDrag`

[code]
and for the `down`

[code]

[2017-01-20 18:52] klaa12924 commented on #26
@stoffeastrom oh nice! That seems to work perfectly.
A nice extra feature to this plugin would be if you now could drag one item from one group to another. I actually don't need it at this point, but the great plugin would benefit from it when it could :)

Thanks for this great plugin!

[2017-02-06 21:04] stoffeastrom commented on #26
@klaa12924 I've been working on converting the plugin to typescript and using the new `Oribella` codebase that also is converted to typescript. It was not that hard to enable moving between groups. I've a [demo](https://dist-ybvsagrevz.now.sh/) I'm working on to show case this. What do you think?

[2017-02-08 01:17] klaa12924 commented on #26
@stoffeastrom man that looks really good, the disabled drop things and even or odd is working perfectly.
I tested your demo with mousepad and touchscreen, should it also be working with touch?

[2017-02-08 05:10] stoffeastrom commented on #26
I only tested it quickly on my iPhone but yes it should work on touch. Haven't tweaked it for windows hybrid devices though

Sent from my iPhone

[2017-02-09 19:27] stoffeastrom commented on #26
@klaa12924 What do you mean by mousepad and touchscreen? Can you explain more what you are using :)?

[2017-02-09 23:10] klaa12924 commented on #26
I meant to say that mouse events works perfect, but the touch events on my laptop screen doesn't, Windows 10 and edge.

[2017-02-10 08:43] stoffeastrom commented on #26
Ok, Yes I haven't tweaked it for hybid devices yet. Need to add correct css `touch-action` on the `li` and `touch-action: none;` on the `handle`. Then we should DOM Events fired from Edge :). Since this is how Microsoft decided to implemented the only way to make sure is that the consumer sets the correct css `touch-action`. Would be cool if you could test this out if you have a chance? The easies

[2017-02-15 21:39] stoffeastrom commented on #24
This is now working in the latest.

[2017-02-15 21:39] #24 closed

[2017-02-15 21:41] stoffeastrom commented on #22
I'll close this for now. Please re-open if wanted

[2017-02-15 21:42] stoffeastrom commented on #29
You can now use

[code]

[2017-02-15 21:42] #29 closed

[2017-02-15 21:42] stoffeastrom commented on #26
💥

[2017-02-15 21:42] #26 closed

[2017-02-15 21:44] stoffeastrom commented on #16
This should be much easier since there only is 2 dependencies in the latest e.g

`oribella-framework`
`oribella`

Configure according to the CLI

[2017-02-15 21:44] #16 closed

[2017-02-15 21:46] stoffeastrom commented on #30
This should be much easier since there only is 2 dependencies in the latest e.g

oribella-framework
oribella

Configure according to the CLI

It seems like there was something coming for the bundle to make it easier but if not maybe we should do that trick you mentioned above

[2017-03-01 13:08] gronostajo commented on #30
Bundling `oribella` with v0.11.0 indeed helps, but `oribella-aurelia-sortable` itself doesn't bundle properly. `oribella-aurelia-sortable.js` is bundled, but other files aren't:

- `auto-scroll.js`
- `optional-parent.js`
- `sortable.js`
- `utils.js`

[2017-03-01 13:27] gavinaiken commented on #30
I tested the latest, with jspm and the aurelia-bundler, and had difficulty getting it to load. It seemed to have a dependency on `tslib.js`, but that should be a devDependency, not a dependency according to the package.json? Is there a problem with the build process?

[2017-03-01 13:53] stoffeastrom commented on #30
Weird, it's stated as a [dev dependency}(https://github.com/oribella/aurelia-sortable/blob/master/package.json#L67)

[2017-03-01 13:55] stoffeastrom commented on #30
Oh, it should be a `dependencies` and not a `devDependency` since it is used the generated files

[2017-03-01 13:56] gavinaiken commented on #30
If it is required to run the generated files, it should be a `dependency`, `devDependencies` should only be required for testing / development. But the compiled files in `dist/commonjs` definitely require `tslib`

[2017-03-01 13:58] stoffeastrom commented on #30
Yes, I added it to get less bloat but forget to add it in the `dependency`. Could you try to `npm install tslib` and see if it works for you?

[2017-03-01 13:59] stoffeastrom commented on #30
eerh I mean `jspm install....`

[2017-03-01 13:59] stoffeastrom commented on #30
Actually I guess you have to use `npm install tslib` :)

[2017-03-01 14:09] stoffeastrom commented on #30
https://github.com/oribella/aurelia-sortable/issues/30#issuecomment-283335017

Yes that's correct you have to add those for the bundler

[2017-03-01 14:10] stoffeastrom commented on #30
We might have to do that trick to import / export them so it picks it up automatically..

[2017-03-01 14:28] gavinaiken commented on #30
Adding `tslib` with jspm works. I had to also add several aurelia packages as top-level dependencies. I think that would not be necessary if they were added to the jspm dependencies in package.json of your distributed module. Doing a bit more testing to try to confirm that...

[2017-03-01 14:52] gavinaiken commented on #30
There seems to be something wrong with the way the compiled files are `require`ing the dependencies. I can get jspm to install everything along with aurelia-sortable using this command:

[code]

but the dependencies fail to load in the browser unless they are installed separately as top level dependencies like this:

[code]

[2017-03-01 15:17] gavinaiken opened #32 "Question: is there still an option to leave a blank space where the dragged item will go?"
In the older versions of the library, the dragged item would leave a "hole" in the list where it was initially, and that hole would move as you dragged the item around, indicating where it will snap to once released from the drag.

In the latest version it appears that the dragged item is cloned so you see it both being dragged, and in the position it will land.

Is there any option in the latest

[2017-03-01 15:19] stoffeastrom commented on #30
Yes, I see that those are missed for the `jspm`. Would be great if you could verify so it works for you guys using `jspm`.

[2017-03-01 15:20] stoffeastrom commented on #30
Also, I'm happy to take a PR that makes life easier for you guys using the bundler. Or if you could post exactly what need to be added so it picks it up automatically.

[2017-03-01 15:27] gavinaiken commented on #30
Earlier comment was wrong. If I specify `aurelia-pal` and `aurelia-templating` as dependencies in the `jspm` command, then they do NOT also need to be installed as top level dependencies. But `tslib` does... not sure why!

i.e. this works for me with jspm:

[code]

Not sure what changes would be required to fix that, otherwise I would do a PR. Still testing things...

[2017-03-01 15:35] stoffeastrom commented on #32
That must be an really old version :). As I recall we added the clone to be able to handle one of your scenarios with the whole page scrolling? What do you want to control?

[2017-03-01 15:37] gavinaiken commented on #32
Yes, I'm still using 0.6.0 in production.

I don't think the clone was added for me, although I am guilty as charged with the whole page scrolling feature.

[2017-03-01 15:39] gavinaiken commented on #32
The thing I want to control is what is shown in the space that the item being dragged will land in. In the new version, you see 2 copies of the item being dragged - I want to only see 1 (moving around as I drag), and for there to simply be a gap in the list in the current snap-to drag landing position.

[2017-03-01 15:40] gavinaiken commented on #32
The reason I say that I don't think the clone was added for me is that 0.6.0 works perfectly for me, and it doesn't clone ;)

[2017-03-01 15:48] stoffeastrom commented on #32
Could you use `oa-drag` class that is set? Maybe put a `opacity`on it?

[2017-03-01 15:52] stoffeastrom commented on #32
Oh that wont work..but if we set a class on the item in the list...

[2017-03-01 15:53] gavinaiken commented on #32
Yeah, the `oa-drag` class is on the item being dragged I think? I want to control the appearance of the item in the list. `oa-drag-placeholder` or something...

[2017-03-01 15:54] gavinaiken commented on #32
There used to be a `placeholder-class` option.

[2017-03-01 15:57] gavinaiken commented on #32
I think this was the issue raised which required the change to the placeholder/clone: https://github.com/oribella/aurelia-sortable/issues/14

[2017-03-01 16:24] gavinaiken commented on #22
Ah, yes this is also affecting me now. The old version had the cloned element in place in the DOM so css class selectors worked the same, with the new functionality of it being cloned at the bottom I see different styles. I can work around it, but the old functionality worked better for my use case. :(

[2017-03-01 17:50] stoffeastrom commented on #32
It seems i missed to add the `oa-drag` also. I will add that to the item being dragged and not the clone. We can add a `oa-clone` on that one if we need

[2017-03-01 18:05] stoffeastrom commented on #22
:(

It might be possible to set which container that should be used. Problem is to make sure it's moved correctly with scrolling and all. Could you make a [gist](https://gist.run/?id=351569c3bad333bb555682f9a9810bcc) to show case the problem.

[2017-03-01 18:57] stoffeastrom commented on #32
`0.11.1` now have the `oa-sorting`. This class will be set on the current item being sorted. So you can add

[code]
for example

[2017-03-01 19:03] gavinaiken commented on #32
Great! Will test shortly.

[2017-03-01 19:21] gavinaiken commented on #30
`0.11.1` resolves the problem with jspm and `aurelia-pal` and `aurelia-templating`. But it is still necessary to also install `tslib` to make it work. i.e. I was able to do this:

[2017-03-01 19:24] gavinaiken commented on #32
That works very nicely! Thank you.

[2017-03-01 19:24] #32 closed

[2017-03-01 19:25] gavinaiken commented on #22
Yes will get a gist set up tomorrow to illustrate this.

[2017-03-01 19:26] stoffeastrom commented on #32
Great! Thanks for pointing out that "missing" feature ;)

[2017-03-01 19:27] stoffeastrom commented on #30
Oh sorry, I totally missed `tslib`... I will add it

[2017-03-01 19:28] gavinaiken commented on #30
I don't think it will work though... I tried that with the jspm `-o` override as in my comment above, and it doesn't work. I don't understand exactly why though, something to do with how systemjs resolves the dependencies.

[2017-03-01 19:29] stoffeastrom commented on #30
Hmm, ok.. Let me know if you find out how this should be done

[2017-03-01 19:31] gavinaiken commented on #30
Oh I think I might know why, I expect `tslib` is in `global` format, according to jspm's conventions. I think there is a way to work around that. Will research tomorrow and let you know.

[2017-03-01 19:33] stoffeastrom commented on #30
Great! Let's move this to separate issue

[2017-03-01 19:34] stoffeastrom opened #33 "Handle `tslib` with `jspm`"
@gavinaiken

[2017-03-01 19:47] stoffeastrom commented on #30
@gronostajo [this](https://github.com/oribella/aurelia-sortable/issues/30#issuecomment-283335017) is hopefully fixed in `0.11.2`. Would be great if you can test it and report back

[2017-03-01 19:48] gavinaiken commented on #33
I think this is related... https://github.com/Microsoft/TypeScript/issues/12887 although the fix is in `1.6.0` of tslib. But the problem is definitely something to do with the way tslib is being referenced or imported.

[2017-03-01 19:49] stoffeastrom commented on #33
Can you try `0.11.2` just to verify that it's not how it's defined in the `package.json`

[2017-03-01 19:49] gavinaiken commented on #33
Sure, testing now

[2017-03-01 19:51] gavinaiken commented on #33
Yes, confirmed it still does not work. Installing `0.11.2` with jspm installs `tslib` but when loading the app in the browser you see this error:

[code]

[2017-03-01 19:52] stoffeastrom commented on #33
OK, so you think upgrading to `tslib@1.6.0` will fix it?

[2017-03-01 19:53] gavinaiken commented on #33
No, because jspm installed 1.6.0 for me since it matches the semver requirement of ^1.5.0!

[2017-03-01 19:53] stoffeastrom commented on #33
It's really weird, since the [gist](https://gist.run/?id=351569c3bad333bb555682f9a9810bcc) was using the `1.5.0` and worked

[2017-03-01 19:58] stoffeastrom commented on #33
what does your config look like?

[2017-03-01 20:03] gavinaiken commented on #33
That gist has `tslib` as a top-level dependency in the map. That works for me too...

i.e. something like this works:

[code]

but this does not (tslib only referenced as a dep of sortable):

[code]

[2017-03-01 20:04] gavinaiken commented on #33
Note that other deps do not need to be top-level, i.e. `aurelia-pal`, `aurelia-templating` - they are only referenced as deps of sortable and they are loaded no problems. Don't yet see why!

[2017-03-01 20:05] stoffeastrom commented on #33
That's really weird

[2017-03-01 20:10] stoffeastrom commented on #33
Can you look in the network tab and see what your server is responding with? Is it the js file or for example a html file?

[2017-03-01 20:16] gavinaiken commented on #33
Yeah it is an html 404, because it tries to load tslib with the wrong path. It also loads it from the correct path... odd...
![screen shot 2017-03-01 at 20 15 52](https://cloud.githubusercontent.com/assets/932263/23479284/ed334574-febb-11e6-9484-790e247521bb.png)

[2017-03-01 20:20] gavinaiken commented on #33
Oh... I wonder if it is because oribella and oribella-framework also depend on it? Maybe they need something in their jspm sections of their package.json...

[2017-03-01 20:21] stoffeastrom commented on #33
Aha, that's a theory

[2017-03-01 20:24] gavinaiken commented on #33
Yes! That is it. I added it manually in my config.js like this:

[code]

and it loads correctly. So I think if you add it to the dependencies on those packages, it should work...

[2017-03-01 20:24] stoffeastrom commented on #33
give me a minute.. I will fix it

[2017-03-01 20:30] stoffeastrom commented on #33
Patches are out.. reinstall :)

[2017-03-01 20:35] gavinaiken commented on #33
Yes that works, nice! So just this works for me now:
[code]

without manually installing tslib.

[2017-03-01 20:35] stoffeastrom commented on #33
✋  💥  🎆

[2017-03-01 20:36] stoffeastrom commented on #33
Thanks for nailing down this!

[2017-03-01 20:36] #33 closed

[2017-03-01 20:37] gavinaiken commented on #33
No problem, thanks for the great lib :)

[2017-03-02 10:42] gavinaiken opened #34 "Latest version seems to break the moved callback functionality"
We rely on the `moved` callback to save prefs after things have been re-ordered, with config like this:

`oa-sortable="items.bind: config.widgets; moved.call:moved($event);"`

This worked in `0.6.0` but `moved` is not being called in `0.11.2`. Looking at the code I see it is still declared as a bindable but doesn't seem to ever be called.

[2017-03-02 11:32] stoffeastrom commented on #34
No, problem is that it's now possible to move between sortables. So there needs to be a breaking change. Don't know would be the best api. Why do you need it?

[2017-03-02 11:34] stoffeastrom commented on #34
So you can't save the array? Or how do you save the preferences

[2017-03-02 11:35] gavinaiken commented on #34
Yes, I use it to know when a change has been made, so I can save the updated order of the array, which can then be restored if the user leaves that part of the app and returns later.

[2017-03-02 11:36] stoffeastrom commented on #34
Do you want a callback that it's finished or actually moved with from indices etz?

[2017-03-02 11:37] gavinaiken commented on #34
Only need a callback that it's finished, then I can inspect the array to see what order things are in.

[2017-03-02 11:37] stoffeastrom commented on #34
Because adding a callback when it's moved is easy but a bit more complicated if we should handle which from array and index and to array and to index

[2017-03-02 11:38] stoffeastrom commented on #34
So lets trigger the `moved` with empty args to begin with

[2017-03-02 11:40] gavinaiken commented on #34
That works great, I don't use the `event` arg in my existing code

[2017-03-02 11:40] stoffeastrom commented on #34
Or maybe we should change it to `stop` which is always called when the user releases the flow

[2017-03-02 11:40] stoffeastrom commented on #34
and if `moved` is needed we can send in from list to list etz

[2017-03-02 11:41] gavinaiken commented on #34
If you don't know whether anything changed places or not, then `stop` seems to make more sense

[2017-03-02 11:42] stoffeastrom commented on #34
Exactly what I though, I already have `stop` callback from `oribella` code so it will be

[code]

[2017-03-02 11:44] stoffeastrom commented on #30
@gavinaiken if you are using the bundler I'd appreciate if you tested this also :)

[2017-03-02 11:50] #34 closed

[2017-03-02 12:15] gavinaiken commented on #30
Seems to work great to me in the latest version `0.11.2`. My aurelia-bundler config just lists `'oribella-aurelia-sortable'` in the `includes` section, and I see that the resulting bundle contains:

[code]

[2017-03-02 12:18] gavinaiken commented on #30
I am using aurelia-bundler version `0.5.0` in case that helps anyone else

[2017-03-02 12:19] stoffeastrom commented on #30
I'm closing this. Please re-open if it doesn't work

[2017-03-02 12:19] #30 closed

[2017-03-02 12:44] gavinaiken commented on #34
Thanks, works great.

[2017-03-02 14:28] gavinaiken commented on #22
Here is an example of the problem I had to work around in the latest version. https://gist.run/?id=6f5ba6f20af646efbdf51c65a6d35568

You should see that the list items are pale blue, but that while they are being dragged, they turn red. This is because the pale blue is set as a result of them being inside the `body-wrapper` class, but when the clone is added to the bottom of the body it is outside

[2017-03-02 17:38] stoffeastrom commented on #22
Ok, it was as I expected and I'm glad you worked around it since I think one of the good things when refactoring the plugin was to make it more simple. Adding it "inline" complicates things tremendously since  you have to consider all scrollbars that could effect how the element is placed. "Simple" case would be that the `oa-sortable` is the only one having scrollbar but I still think it's much ea

[2017-03-02 17:38] #22 closed

[2017-03-03 07:52] fracz commented on #30
Works for me, too. Thank you!

[2017-03-03 15:14] gronostajo commented on #30
Same here, works perfectly. Thanks!

[2017-03-06 16:00] gronostajo opened #35 "Doesn't work without bundling"
It's a follow-up to #30 I suppose.

My app now works perfectly when it's bundled, but without bundling I'm getting this error:

Reverting to v0.8.0 fixes this.

It indeed seems that `tslib@1.6.0.js` uses modern JS and should be transpiled:

[code]

However I shouldn't be supposed to transpile dependencies myself.

Strictly speaking, it's the `auto-scroll.js` file which is the culprit, it uses `__d

[2017-03-06 17:33] stoffeastrom commented on #35
https://github.com/Microsoft/tslib/issues/26

[2017-03-06 17:33] stoffeastrom commented on #35
Looks like there is PR

[2017-03-10 18:19] stoffeastrom commented on #35
@gronostajo Looks like this should work now according to the above issue? Can we close this issue?

[2017-03-13 12:41] gronostajo commented on #35
Yes, it seems to be fixed. Thank you for finding that issue.

[2017-03-13 12:41] #35 closed

[2017-04-21 14:59] jayrod718 opened #37 "Console Error when right clicking Sortable <li> item"
I get the below logged to the console when I right click inside list item using aurelia-sortable. I haven't noticed any resulting issues and the functionality is working. Any Ideas?

utils.ts:326 Uncaught TypeError: Cannot read property 'classList' of undefined
    at Sortable.stop (http://localhost:12345/scripts/vendor-bundle.js:40440:24)
    at Listener.stop (http://localhost:12345/scripts/vendo

[2017-04-21 16:46] stoffeastrom commented on #37
Oh, that makes sense since we don't have a target in that case! We need  to ad.d a guard in the `stop` function.

[2017-05-28 02:16] etiennemorin opened #39 "Relative path issue"
It seems to me that there might be some root path references instead of relative path references within oribella-aurelia-sortable.  Is this possible?

I'm getting file not found exceptions when I run `au run --watch`

`Tracing oribella-aurelia-sortable...
File not found or not accessible: c:/projectdirectory/src/oribella.js. Requested by c:\projectdirectory\node_modules\oribella-aurelia-sortable\d

[2017-05-29 00:17] etiennemorin commented on #39
It turns out I needed to add all the dependencies in manually in aurelia.json

`{
                        "name": "tslib",
                        "main": "tslib",
                        "path": "../node_modules/tslib",
                        "resources": []
                    },
                    {
                        "name": "oribella",
                        "main": "oribella",

[2017-05-29 00:17] #39 closed

[2017-05-29 16:58] stoffeastrom commented on #39
@etiennemorin Glad it worked yout for you!

[2017-06-08 06:00] #37 closed

[2017-06-08 06:05] stoffeastrom commented on #37
Should be fixed in `0.12.0`

[2017-06-09 20:27] doubleaa93 opened #40 "IE 10 Swipe.update data.pointer[0] is undefined"
I'm not sure if IE 10 is supported but when dragging an item there is an error in the Swipe update function where it tries to access data.pointers[0] but the array empty.

This only happens on IE 10.

[2017-06-10 09:11] stoffeastrom commented on #40
HI @doubleaa93 thanks for the info. The idea was that it could be supported. Not sure what the problem is.  Needs some investigation

[2017-06-11 17:06] stoffeastrom commented on #40
@doubleaa93 I think I understand what the problem is. Checked through the framework and for the `MSPointerFlow` the pointers are not set :/. It inherits from `PointerFlow` and the cases for `MSPointerStart` and `MSPointerMove` is missing..

[2017-06-11 17:20] stoffeastrom commented on #40
@doubleaa93 should be fixed in https://github.com/oribella/framework/commit/36b0da5afcb44f540bc291e199ffbf6b79a264a4
and `oribella-framework@0.10.3` just run an update and it should be fine.

[2017-06-13 13:12] doubleaa93 commented on #40
Awesome it's working now!

[2017-06-13 13:12] #40 closed

[2017-07-13 13:35] PhilipTKC opened #41 "[Question] How to retrieve the position within a sortable list?"
As the title says, How do you retrieve the 'old' and 'new' index position?

eg.

Moving *[0] Item 1* into *Position [3]* would yield the results

Old Position: [0]
New Position: [3]

* [0] Column 1
    * [0] Item 1
    * [1] Item 2
    * [2] Item 3
    * [3] Item 4

[2017-07-13 14:59] stoffeastrom commented on #41
Hi @PhilipTKC,

In an earlier version you got that in the `moved` callback. However this was removed when introducing multiple sortable lists for simplicity. May I ask why you need it? The plugin operates on list references and actually move them in the arrays you provide.

[2017-07-14 03:18] PhilipTKC commented on #41
Hi @stoffeastrom

I'm still quite new to this but I wanted the index position to update the positions in my database. I have the following method that I 'was' using with Knockout before I started to convert my application to Aurelia. I hope this makes sense.

[Gist](https://gist.github.com/PhilipTKC/96e93c447db7b6ad5d6f1998bb1f8939)

[2017-07-14 06:30] stoffeastrom commented on #41
That makes sense. We could re-introduce the `moved` callback but I'm not sure about the api. It needs to support moving between multiple lists.

[code]

@PhilipTKC what do you think?

[2017-07-14 09:07] PhilipTKC commented on #41
Hi @stoffeastrom

Thanks for the feedback. It gave me an idea just to loop through the array. I ended up using the index of the array to set the new TaskWeight and the column id if it's been moved between a column.

![col](https://user-images.githubusercontent.com/17052464/28205762-843b61b0-68d7-11e7-95d4-bb495c9b8210.PNG)

            var serialized = JsonConvert.SerializeObject(project.Project);

[2017-07-14 09:42] stoffeastrom commented on #41
No problem!

Yes, `onStop` is always called to ensure you can clean up things but it doesn't say if something was actually moved or not. If need we could easily provide something that says if it's valid move.

[2017-07-14 09:50] PhilipTKC commented on #41
That would be wonderful :)

[2017-07-14 10:47] stoffeastrom commented on #41
So just to be sure. Should we add the `moved` callback again but with no arguments. This will be called if it's  a valid move and you can bind to it. I'm not sure what  you are using now since there are no public callbacks. Are you overriding the `onStop`?

[2017-07-14 11:28] PhilipTKC commented on #41
I am currently using on-stop.call: onStop() and I am simply doing a post request with my updated view-model.

[2017-07-15 20:59] stoffeastrom commented on #41
@PhilipTKC I'm leaning towards [this](https://github.com/oribella/aurelia-sortable/compare/master...iss41). So keep the `onStop` and get a `move` interface where you get

[code]
So you can guard it for example

[code]
what do you think?

[2017-07-15 21:19] PhilipTKC commented on #41
That looks excellent.

[2017-07-17 19:05] stoffeastrom commented on #41
@PhilipTKC you can try this out with using the `next` tag e.g

[code]
Let me know how it works

[2017-07-18 00:14] PhilipTKC commented on #41
Can do, I've been testing it for a little while now but I've encountered an issue with "FromIndex"

items = [1, 2, 3, 4, 5, 6, 7];

Moving "1" after "7" seems to register the "FromIndex" as "6" rather than "0".

I've provided some images below.

Step 1: ![1](https://user-images.githubusercontent.com/17052464/28294996-b4cd7af2-6bb1-11e7-849d-34bb6d0da8a8.PNG)

![2](https://user-images.githubusercon

[2017-07-18 06:47] stoffeastrom commented on #41
It's the `fromIndex` so it's where it's dragged from. That makes most sense right? If you need the original I think you have to get that yourself from a shallow copy of the array. If you store object references it would be quite easy to get that if we also pass the `item` being moved. Should we add the `item` in the interface or what do you think?

[2017-07-18 06:59] PhilipTKC commented on #41
Yep, That makes complete sense. I was just making sure :).

That would be nice, I was currently getting it via allow-drag as a work around. :rofl:

[2017-07-18 09:37] stoffeastrom commented on #41
You can try it out again :) with the `next` tag

[2017-07-18 10:52] PhilipTKC commented on #41
Awesome, Works like a charm. 👍

Thanks @stoffeastrom 🍺

[2017-08-02 13:16] #41 closed

[2017-12-14 12:30] itfourp opened #44 "Bug that occurs when using replaceable parts"
When I use replaceable parts in combination with multiple sortables the 'wrong' replace-part template is shown in the sortable under certain circumstances. Since it's pretty hard to explain I'd like to show the issue with a simplistic example, that can be found here:

https://github.com/itfourp/aurelia-oribella-sortable-replaceable-bugreport

I guess it has something to do with caching, but I have

[2017-12-15 10:18] stoffeastrom commented on #44
HI @itfourp what version of `jspm` are you using? I get an error following the instructions

[2017-12-15 13:21] itfourp commented on #44
@stoffeastrom Nice, thank you! I'll have a look at this.

[2017-12-16 10:33] stoffeastrom commented on #44
@itfourp Of course, as long as we document it! So if you need touch support you have to handle it differently.

Just make a PR and we'll get it in :)

[2018-01-03 08:16] itfourp commented on #44
@stoffeastrom Okay, to use touch support I need to re-attach the touchstart-event-listener to the moved element after it was moved, or is there another way to solve this?

[2018-01-03 10:57] stoffeastrom commented on #44
@itfourp

I guess this could be reproduced without this plugin? Since it's about the `view-cache` it could be how it's handled in Aurelia. I actually thinks this is a bug in Aurelia and how it handles the `view-cache`. If so it should be fixed there. Can you create an issue there?

Lets start there and see how it plays out. Else we could look into your approach above!

[2018-01-03 11:01] itfourp commented on #44
You're right, that's probably the best way to start!

[2018-03-22 09:19] Alexander-Taran commented on #44
Ok guys. Could you clarify the issue in aurelia repo?
https://github.com/aurelia/templating/issues/595

Have you explored any ways to fix it?
As it is now it is pretty non-actionable.
But it might hurt somebody else.

[2018-03-22 09:49] itfourp commented on #44
I had a look at the aurelia-templating library right after I discovered the problem but I was unable to find an appropriate way to fix this issue. That's mostly because I could not identify/discern what DocumentFragment is used as template for the ViewFactory.
https://github.com/aurelia/templating/blob/b9d927c4787c4aa4ea2dcfdbf1a2f1e5cc7d6c2b/src/view-factory.js#L352
https://github.com/aurelia/tem

[2018-04-06 08:55] stoffeastrom opened #45 "Update the README"
https://discourse.aurelia.io/t/drag-and-drop-rearranging-an-array-list/978/9

The README needs an update so it becomes more clear on how to use this plugin

[2018-04-06 09:01] #45 closed

[2018-04-24 20:38] stoffeastrom commented on #44
This issue was moved to oribella/oribella#25

[2018-04-24 20:38] #44 closed